* {
  color: beige;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: lightseagreen;
  padding: 5px;
  overflow: scroll;
}

input {
  width: 95%;
  border: none;
  border-bottom: 1px solid beige;
  background: none;
  padding: 5px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

input:hover {
  border-bottom: 1px solid crimson;
}

input,
h4,
h5,
td:hover {
  color: crimson;
}

time,
.controlTime,
.baseEl_monitor,
.btn {
  background: crimson;
}

.btn:hover,
td {
  border: 1px solid beige;
}

h3 {
  margin: 10px 0;
  text-transform: uppercase;
}

h4,
h5 {
  text-transform: uppercase;
  margin-top: 10px;
  height: 20px;
}

option {
  text-align: center;
}

fieldset {
  margin: 5px 0;
  padding: 5px;
}


#life {
  width: 320px;
  text-align: center;
  margin: auto;
}

.time {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px 0;
}

time {
  border-radius: 20px;
  padding: 10px;
}

.worldInfo {
  margin: 20px 0;
  display: flex;
  overflow-x: scroll;
  height: 15vh;
  scrollbar-color: beige lightseagreen;
  scrollbar-width: thin;
}

.baseEl {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.baseEl_monitor {
  display: flex;
  width: 150px;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  border-radius: 20px;
  padding: 10px;
}

.baseEl_text {
  display: flex;
  justify-content: center;
}

.controlTime {
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

.controlTime:hover {
  cursor: pointer;
}

.btn {
  width: 145px;
  height: 50px;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid crimson;
  text-transform: uppercase;
}



.btn:hover {
  cursor: pointer;
}

#modeling {
  display: none;
}

td {
  margin: 2px;
}

#map img {
  width: 320px;
}

.humanHTMLEl {
  margin: 20px 0;
}

.inputGorup {}

.headEl {
  margin: 20px 0;
  overflow-x: scroll;
  height: 36vh;
  scrollbar-color: beige lightseagreen;
  scrollbar-width: thin;
}

.headEl h4 {
  text-align: center;
}

.partHuman {
  width: 310px;
  display: flex;
  /* margin: 0 5px; */
}

.investingTimeHTMLEl {
  display: flex;
  overflow-x: scroll;
  scrollbar-color: beige lightseagreen;
  scrollbar-width: thin;
}

.dayLife div {
  width: 300px;
  margin: 0 10px;
}


#btnStartGame {}

#btnAutomaticControlOrHandControl {}

#settings {}

#btnMap {}

#btnSettings {}

#control {}

section {}


.dayFromClassDayHTMLEl {
  width: 300px;
  text-align: center;
  overflow-x: scroll;
  scrollbar-color: beige lightseagreen;
  scrollbar-width: thin;
}

th {
  padding: 5px;
}

td {
  text-align: left;
  padding: 5px;
}

td:hover {
  cursor: pointer;
}

.wrapImgHTMLEl {
  margin-top: 20px;
  overflow-x: scroll;
  scrollbar-color: beige lightseagreen;
  scrollbar-width: thin;
  border-radius: 50px;
}
.wrapImgHTMLEl img {
  display: block;
  height: 75vh;
}