* {
  color: beige;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: lightseagreen;
  padding: 5px;
}

.time {
  text-align: center;
  margin: 20px 0;
}

.worldInfo {
  display: flex;
}

time {
  background: crimson;
  padding: 10px;
  border-radius: 10px;
  height: 30px;
}

.baseEl {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 10px;
}

.baseEl_monitor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 50px;
  background: crimson;
}

.baseEl_text {
  display: flex;
  justify-content: center;
}

.controlTime {
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background: crimson;
}

.controlTime:hover {
  cursor: pointer;
}