* {
  color: crimson;
  box-sizing: border-box;
}

.baseEl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.baseEl_monitor {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 30px;
  border-radius: 50px;
  background: lightseagreen;
}

.baseEl_text {
}

sup{
  font-size: 10px;
}

.controlTime:hover {
  cursor: pointer;
}