* {
  color: beige;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: lightseagreen;
  padding: 5px;
  overflow: scroll;
}

input {
  width: 95%;
  color: crimson;
  border: none;
  background: none;
  padding: 5px;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid beige;
  margin-bottom: 10px;
}

input:hover {
  border-bottom: 1px solid crimson;
}

option {
  text-align: center;
}

fieldset {
  margin: 5px 0;
  padding: 5px;
}

h2 {
  margin: 10px 0;
}

h4,
h5 {
  text-transform: uppercase;
  color: crimson;
  margin-top: 10px;
}

section {
  margin: 10px 0;
}

#life {
  width: 320px;
  text-align: center;
  margin: auto;
}

.time {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px 0;
}

time {
  background: crimson;
  border-radius: 20px;
  padding: 10px;
}

.worldInfo {
  display: flex;
  flex-flow: wrap;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.baseEl {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 5px;
}

.baseEl_monitor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  border-radius: 20px;
  background: crimson;
  padding: 10px;
}

.baseEl_text {
  display: flex;
  justify-content: center;
}

.controlTime {
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background: crimson;
}

.controlTime:hover {
  cursor: pointer;
}

.btn {
  width: 120px;
  height: 50px;
  margin: 5px;
  border-radius: 20px;
  background: crimson;
  border: 1px solid crimson;
}

.btn:hover {
  cursor: pointer;
  border: 1px solid beige;
}

#modeling {
  display: none;
}

td {
  margin: 2px;
  border: 1px solid beige;
}

#map img {
  width: 320px;
}


#btnStartGame {}

#btnAutomaticControlOrHandControl {}

#settings {}

#btnMap {}

#btnSettings {}

#control {}